form {
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
    padding-bottom: 5%;
}

form div {
    font-size: 32px;
}

.radio_type {
	margin: 0;
	text-align: center;
	padding: 0;
	font-size: 40px;
}

form .radio_label {
    margin: 0;
    text-align: center;
    padding: 1%;
    font-size: 20px;
    width: 25%;
    display: inline-block;
}

form p {
    text-align: center;
}