body{
	padding: 0;
	margin: 0;
	font-family: 'Slabo 27px', serif;
}

h1 {
	line-height: 50vh;
	background: url(../static/back.jpg);
	background-position: center;
	margin: auto;
	padding: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-size: 72px;
    color: white;
}

form {
    margin: 5%;
    width: 90%;
    padding-bottom: 5%;
}

form p {
	margin: 0;
	text-align: center;
	padding: 1%;
	font-size: 40px;
}

