form {
    margin-top: 0;
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
    padding-bottom: 5%;
}

form div {
    font-size: 32px;
}

#contants {
    float: left;
    width: 30%;
    height: 50%;
}

#inputs {
    float:left;
    width: 70%;    
}

div .radio_type {
    margin: 0;
    text-align: center;
    padding: 15%;
    font-size: 30px;
}

form .radio_label {
    margin: 0;
    text-align: center;
    margin-bottom: 5%;
    padding: 1%;
    font-size: 20px;
    width: 25%;
    display: inline-block;
}

form p {
    text-align: center;
}




