body{
	padding: 0;
	margin: 0;
	font-family: 'Slabo 27px', serif;
}

#top {
	height: 50%;
	width: 100%;
	background: url(../static/back.jpg);
	background-position: center;
	color: white;
}

#top p {
	margin: 0;
	padding: 1%;
	right: 0;
	font-size: 32px;
}

h1 {
	line-height: 50vh;
	margin: auto;
	padding: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-size: 72px;
}

.outer {
	height: 1000px;
	float: left;
}

#today{
	width: 65%;
	overflow: hidden;
}

#today .chart {
	width: 90%;
    height: 12%;
    margin: 0 auto;
    padding: 5%;
    position: relative;
    float: left;
}

.chart canvas {
	width: 100%;
	height: 100%;
}

.div_head{
	text-align: center;
	font-size: 30px;
	letter-spacing: 0.15em;
}

#log{
	width: 35%;
}

form {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    padding-bottom: 5%;
}

form p {
	margin: 0;
	margin-bottom: 1%;
}

input {
	background-color: #2fc62f;
    color: white;
    padding: 1%;
    margin: 5%;
}