<!DOCTYPE html>
<html>

<head>
    <title>Dietbetes</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>

<body>
	<div id="top">
		<h1>Dietbetes</h1>
		<p>{{ username }} {{new}}</p>
	</div>
    <div class="outer" id="today">
        <p class="div_head">Your Data for Today</p>
        <div class="chart">
            <p>Daily Serving Intake Trends</p>
            <canvas id="serving_chart"></canvas>
        </div>
        <div class="chart">
            <p>Daily Carbohydrate Intake Trends</p>
            <canvas id="carb_chart"></canvas>
        </div>
        <div class="chart">
            <p>You Relative to Diabetic Patients</p>
            <canvas id="compare_chart"></canvas>
        </div>
    </div>
    <div class="outer" id="log">
        <p class="div_head">Pick the correct food</p>
        <form action="." method="POST">
        	<div><p>Approximate serving size: </p><input type="number" name="serving_size"></div>
        	<div>
	        	{% for option in results %}
			        <div width="100%"><input type="radio" name="type_food" value="{{ option }}"> {{ option }}</div>
		        {% endfor %}
  			</div>
        <input type="submit" name="my-form" value="Submit">
    	</form>
    </div>
    <script>
    // get bar chart canvas
    var serving_chart = document.getElementById("serving_chart").getContext("2d");
    var carb_chart = document.getElementById("carb_chart").getContext("2d");
    var compare_chart = document.getElementById("compare_chart").getContext("2d");

    // bar chart data
    mainGraphColorTransparent = "rgba(77, 255, 77, 0.6)";
    mainGraphColorOpaque = "rgba(77, 255, 77, 1)";
    barChartBorderWidth = 1.5;

    steps = 10
    max = 10
    // draw bar chart

    new Chart(serving_chart, {
        type: 'bar',
        data: {
	        labels: [{% for item in serv_labels %}
	            "{{item}}", {% endfor %}
	        ],
	        datasets: [{
	            backgroundColor: mainGraphColorTransparent,
	            borderColor: mainGraphColorOpaque,
	            borderWidth: barChartBorderWidth,
	            data: [{% for item in serv_values %} {{ item }},
	                {% endfor %}
	            ]
	        }]
	    },
        options: {
            legend: { display: false },
            maintainAspectRatio: false,
            scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero:true,
	                }
	            }]
	        }

        }
    });

    new Chart(carb_chart, {
        type: 'bar',
        data: {
	        labels: [{% for item in carb_labels %}
	            "{{item}}", {% endfor %}
	        ],
	        datasets: [{
	            backgroundColor: mainGraphColorTransparent,
	            borderColor: mainGraphColorOpaque,
	            borderWidth: barChartBorderWidth,
	            data: [{% for item in carb_values %} {{ item }},
	                {% endfor %}
	            ]
	        }]
	    },
        options: {
            legend: { display: false },
			maintainAspectRatio: false,
            scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero:true,
	                }
	            }]
	        }
        }
    });

    new Chart(compare_chart, {
        type: 'scatter',
        data: {
	        datasets: [{
	            backgroundColor: mainGraphColorTransparent,
	            fill: false,
	            showLine: false,
	            borderColor: mainGraphColorOpaque,
	            data: [{% for item in scatter_values %} {
	                    x: {{ item[0] }},
	                    y: {{ item[1] }}
	                },
	                {% endfor %}
	            ]
	        }]
	    },
        options: {
            legend: { display: false },
            maintainAspectRatio: false,
            scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero:true,
	                }, 
	                scaleLabel: {
				        display: true,
				        labelString: 'Age'
				    }
	            }],
	            xAxes: [{
	                ticks: {
	                    beginAtZero:true,
	                }, 
	                scaleLabel: {
				        display: true,
				        labelString: 'A1C Level'
				    }
	            }]
	        }
        }
    });</script>
</body>

</html>