<!DOCTYPE html>
<html>

<head>
    <title>Dietbetes</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='inputs.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>

<body>
	<div id="top">
		<h1>Dietbetes</h1>
		<p>{{ username }}</p>
	</div>
    <div class="outer" id="today">
        <p class="div_head">Your Data for Today</p>
        <div class="chart" style="margin: -40px 0 40px 0;">
            <p style="font-size:30px;">Daily Serving Intake Trends</p>
            <canvas id="serving_chart"></canvas>
            <p>- This graph displays how many servings the user has had in given day(s).</p>
        </div>
        <div class="chart" style="margin: 0 0 40px 0;">
            <p style="font-size:30px;">Daily Carbohydrate Intake Trends</p>
            <canvas id="carb_chart"></canvas>
            <p>- This graph displays how much carbohydrate the user has had in given day(s).</p>
        </div>
        <div class="chart" style="margin: 0 0 40px 0;">
            <p style="font-size:30px;">Diabetic Patients within your Race and Gender</p>
            <canvas id="compare_chart"></canvas>
            <p>- This graph displays around 100,000 diabetic patients who have the same attributes as the user's age and race. A1c values refer to the patients' blood sugar (< 5.7: normal | 5.7< A1c < 6.4: prediabetes | > 6.4: diabetes) </p>
        </div>
    </div>
    <div class="outer" id="log">
        <p class="div_head">Log Today's Meals!</p>
        <form action="." method="POST">
	        <div><p>Food eaten: </p><input type="text" name="food"></div>
        <input type="submit" name="my-form" value="Submit">
    	</form>
    </div>

    <script src="{{ url_for('static', filename='include_charts.js') }}"></script>
</body>

</html>