<!DOCTYPE html>
<html>

<head>
    <title>Dietbetes</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='inputs.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='login_style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>

<body>
    <div id="top">
        <h1>Dietbetes</h1>
        <p>{{ username }}</p>
    </div>
    <div id="contants">
        <p class="radio_type">Your age:</p>
        <p class="radio_type">Your sex:</p>
        <p class="radio_type">Your race:</p>
    </div>
    <form action="." method="POST">
        <div id="inputs">
            <div>
                <input type="number" name="age">
            </div>
            <div>
                <input type="radio" name="gender" value="male">
                <p class="radio_label">Male</p>
                <input type="radio" name="gender" value="female">
                <p class="radio_label">Female</p>
            </div>
            <div>
                <input type="radio" name="race" value="african_american">
                <p class="radio_label">African American</p>
                <input type="radio" name="race" value="asian">
                <p class="radio_label">Asian</p>
                <input type="radio" name="race" value="caucasian">
                <p class="radio_label">Caucasian</p>
                <input type="radio" name="race" value="hipsanic">
                <p class="radio_label">Hispanic</p>
                <input type="radio" name="race" value="other">
                <p class="radio_label">Other</p>
            </div>
        </div>
        <input type="submit" name="my-form" value="Submit" class="raise">
    </form>
</body>

</html>